<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{member.panel.title}"></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/tables.css" />
    <link rel="stylesheet" href="/css/language-switcher.css" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="main-content">
      <h1 th:text="#{member.panel.title}"></h1>
      <a href="/member/purchases" th:text="#{member.panel.myPurchases}"></a>
      <br />
      <a
        href="/member/reservations"
        th:text="#{member.panel.myReservations}"
      ></a>
    </main>
  </body>
</html>
