name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: fitness
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Make mvnw executable
      run: chmod +x ./mvnw

    - name: Build and test with Maven
      run: ./mvnw -B clean install
      env:
        SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/fitness
        SPRING_DATASOURCE_USERNAME: user
        SPRING_DATASOURCE_PASSWORD: pass
        STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY }}
        CI: true
